
header {
    background-color: #2c3e50;
    height: 80px;
}

main section{
    padding: 50px 0;
}

main section#jumbotron{
    background-color: #1abc9c;
}

main section#jumbotron .my-box img#avatar{
    width: 20%;
}

main section#jumbotron .my-box .my-contain-star .my-line{
    background-color: white;
    height: 3px;
    width: 9%;
    
}

main section#portfolio{
    background-color: white;
}

main section#portfolio .my-box .my-contain-star .my-line{
    background-color: black;
    height: 3px;
    width: 9%;
}

main section#portfolio .my-box #my-contain-card{
    width: 80%;
    margin: 0 auto;
}

main section#portfolio .my-box #my-contain-card img{
    width: calc(100% / 3);
    padding: 1%;
    border-image: round;
}

main section#about{
    background-color: #1abc9c;
}

main section#about .my-box .my-contain-star .my-line{
    background-color: white;
    height: 3px;
    width: 9%;
}

main section#contact{
    background-color: white;
}

main section#contact .my-box{
    background-color: orange;
    height: 400px;
    width: 800px;
    margin: 0 auto;
}

footer div#my-footer-top{
    background-color: #3a546d;
}

footer div#my-footer-top .my-box{
    background-color: pink;
    width: 800px;
    height: 200px;
    margin: 0 auto;
}

footer div#my-footer-bottom{
    background-color: #2c3e50;
}

footer div#my-footer-bottom .my-box{
    background-color: violet;
    height: 80px;
    width: 800px;
    margin: 0 auto;
}






